[user]
	name = Yusuke Kubota
	email = ykubota.rec@gmail.com

[init]
	defaultBranch = master
	templateDir = ~/.git_template

[url "github:"]
	InsteadOf = https://github.com/
	InsteadOf = git@github.com:	